*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body{
  margin: 20px 0;
}

button{
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
}

.container{
  margin: 0 auto;
  width: 95%;
}

.app{
  max-width: 500px;
  padding: 15px;
}